div.keyboard {
    position: absolute;
    background-color: rgba(173, 20, 20, 0.2);
    width: 50%;
    height: fit-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 110%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

div.keyboard_inner {
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

div.keyboard_key {
    float: left;
    font-size: 1.25em;
    background-color: rgb(196, 255, 209);
    font-weight: bold;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: .25em;
    cursor: pointer;
}

div.keyboard_key:hover {
    background-color: rgba(119, 161, 128, 0.486);
}

div.correct {
    background-color: #0f0;
}

div.wrong {
    background-color: rgba(0, 0, 0, 0.363);
}

div.almost {
    background-color: #ff0;
}

@media screen and (max-width: 1340px) {
    div.keyboard {
        transform: translate(-50%, 130%);
    }
    div.keyboard_key{
        font-size: 1em;
    }
}

@media screen and (max-width: 1090px) {
    div.keyboard {
        transform: translate(-50%, 140%);
    }
    div.keyboard_key{
        font-size: .9em;
    }
}

@media screen and (max-width: 980px) {
    div.keyboard {
        transform: translate(-50%, 110%);
    }
    div.keyboard_key{
        font-size: .9em;
    }
}

@media screen and (max-width: 880px) {
    div.keyboard {
        transform: translate(-50%, 130%);
    }
    div.keyboard_key{
        font-size: .8em;
    }
}

@media screen and (max-width: 710px) {
    div.keyboard {
        transform: translate(-50%, 120%);
        width: 60%;
    }
    div.keyboard_key{
        font-size: .8em;
    }
}

@media screen and (max-width: 560px) {
    div.keyboard {
        transform: translate(-50%, 100%);
        width: 60%;
    }
    div.keyboard_key{
        font-size: .8em;
    }
}

@media screen and (max-width: 475px) {
    div.keyboard {
        transform: translate(-50%, 100%);
        width: 70%;
    }
    div.keyboard_key{
        font-size: .8em;
    }
}

@media screen and (max-width: 400px) {
    div.keyboard {
        transform: translate(-50%, 150%);
        width: 100%;
    }
    div.keyboard_key{
        font-size: .8em;
    }
}

@media screen and (max-width: 391px) {
    div.keyboard {
        transform: translate(-50%, 140%);
        width: 100%;
    }
    div.keyboard_key{
        font-size: .8em;
    }
}